:root{
    font-family: "Segoe UI";
}

body{
    height: 100vh;
}

header{
    padding: 0 2vw;
    margin-bottom: 4vh;
}

main{
    padding: 0 2vw;
    display: flex;
    gap: 2vw;
}

#sidebar{
    border: 1.5px solid gray;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
    height: 70vh;
    width: fit-content;
    text-align: center;
    padding-right: 5vw;
    padding-top: 2vh;
    border-radius: 7.5px;
}

#main-content{
    border: 1.5px solid gray;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
    height: 71.75vh;
    width: 80vw;
    border-radius: 7.5px;
}

#sidebar ul{
    list-style-type: none;
}

.gray{
    color: rgba(0, 0, 0, 0.5);
    transform: translateY(-1vh);
}