:root{
    font-family: "Segoe UI";
}

body{
    height: 100vh;
    background: rgba(0, 0, 0, 0.05);
}

header{
    padding: 0 2vw;
    margin-bottom: 4vh;
}

main{
    padding: 0 2vw;
    display: flex;
    gap: 2vw;
}

#sidebar{
    background: white;
    border: none;;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    height: 70vh;
    width: fit-content;
    text-align: center;
    padding-right: 5vw;
    padding-top: 2vh;
    border-radius: 7.5px;
}

#main-content{
    background: white;
    border: none;;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    height: 71.75vh;
    width: 80vw;
    border-radius: 7.5px;
    padding-left: 30px;
}

#sidebar ul{
    list-style-type: none;
    margin-top: 5vh;
}


#sidebar a{
    text-decoration: none;
    color: black;
    padding: 7.5px 20px;
    border-radius: 7.5px;
    cursor: pointer;
    transition: all .25s ease-in-out;
    width: 200px;
    text-align: center;
    transform: translateX(5vw);
}

#sidebar li{
    transform: translateX(1vw);
}

#sidebar #active a{
    padding: 7.5px 20px;
    border-radius: 7.5px;
    border: none;
    cursor: pointer;
    color: white;
    background: rgb(40, 147, 254);
}

#sidebar a:hover{
    padding: 7.5px 20px;
    border-radius: 7.5px;
    border: none;
    cursor: pointer;
    width: 95%;
    color: white;
    background: rgb(40, 147, 254);
}

.gray{
    color: rgba(0, 0, 0, 0.5);
    transform: translateY(-1vh);
}

.indigo{
    color: rgb(40, 147, 254);
}

#mc-tabs{
    display: flex;
    justify-content: center;
    gap: 1vw;
    margin-top: 2.5vh;
    padding: 0 1vw;
    flex-wrap: wrap;
}

.mc-tab{
    border-radius: 7.5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    border: none;;
    height: 15vh;
    width: 200px;
    transform: translateY(2vh);
}

#charts{
    display: flex;
    height: 70%;
    width: auto;
    margin-top: 2vh;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

.chart{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    height: 30vh;
    width: calc(fit-content + 50px);
    border: none;;
    border-radius: 7.5px;
    padding: 0 30px;
}

.mc-tab .gray{
    text-align: center;
}

.chart .indigo{
    text-align: center;
}

.amount{
    text-align: center;
    transform: translateY(-3vh);
    font-size: 1.85rem;
}

.amount::after{
    content: "RWF";
    font-size: .9rem;
    margin-left: .25vw;
}

.amount#savings::after{
    content: "%";
}

.sub-h{
    font-size: .75rem;
    transform: translateY(-5vh);
}

#monthly-i{
    color: rgb(105, 214, 250);
}

#monthly-e{
    color: rgba(255, 0, 0, 0.75);
}

#category-chart{
    height: 50%;
    width: calc(80% + 60px);
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-4vh);
}

#monthly-chart{
    height: 60%;
    width: calc(80% + 60px);
    margin-left: auto;
    margin-right: auto;
}

#user-icon{
    background: rgb(40, 147, 254);
    padding: 12px;
    height: 56px;
    width: 56px;
    transform: translateX(2.3vw);
    margin-top: 2vh;
    fill: white;
    border-radius: 50%;
}

#welcome{
    width: calc(100% + 4.75vw);
}

#home-icon{
    position: fixed;
    right: 100px;
}

form#filter-form{
    display: flex;
    gap: 5vw;
}

#filter-form select{
    border: 1.5px solid gray;
    padding: 3px 7.5px;
}

#filter-form select:focus{
    outline: none;
}

#transactions{
    border: none;
    background: rgba(0, 0, 0, 0.05);
    margin-top: 5vh;
    width: 90%;
    padding: 5px 7.5px;
}

#tr-table tr{
    display: flex;
    gap: 8.5vw;
}

#date-div{
    border: 2px solid black;
}

#desc-div{
    border: 2px solid black;
}

#cat-div{
    border: 2px solid black;
}

#type-div{
    border: 2px solid black;
}

#amount-div{
    border: 2px solid black;
}

#act-div{
    border: 2px solid black;
}


@media(max-width: 685px){
    #sidebar{
        display: none;
    }
    #main-content{
        width: calc(87vw);
        margin-right: auto;
        margin-left: auto;
    }
}

@media(max-width: 1290px){
    .chart{
        width: 400px;
    }
}

@media(max-width: 1115px){
    .chart{
        width: 380px;
        transform: translateY(-5vh);
    }
}

@media(max-width: 600px){
    #charts{
        flex-wrap: wrap;
        margin-top: 7.5vh;
    }
    #main-content{
        height: calc(100% + 1.5vh);
    }
}